*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background: #edeaf5;
}

#nav{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

#buttons{
    justify-content: space-between;
    display: flex;
    width: 15%;
    font-size: 18px;
    padding: 20px;
}

#buttons a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#buttons a:hover{
    border-bottom: 2px solid black;
}





#first-cont{
    display: flex;
    /* background: green; */
    height: 15vw;
    padding-left: 2%;
}


#heading-first-cont{
    padding: 30px;
    /* background: red; */
}

#heading-first-cont h1{
    font-family: serif;
    font-weight: lighter;
    font-size: 3.3vw;
    line-height: 3.9vw;
}



/* ----------------------------------------------------------------------------------------------------------- */


#second-cont{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}

#para-second-cont p{
    font-family: serif;
    font-size: 0.8vw;
    line-height: 1.7vw;
    font-weight: lighter;
}


#buttons-second-cont{
    width: 15%;
}

#buttons-second-cont #elem{
    padding: 10px 0;
    height:30px;
    display: flex;
    align-items: center;
    border-top: 1px solid #000;
}

#elem a{
    font-size: 0.8vw;
    text-decoration: none;
    color: black;

}


#third-cont{
    background: url(https://images.unsplash.com/photo-1508243529287-e21914733111?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 50vh;
    width: 100vw;
    background-position: 0px -100px;
    background-size: cover;
}

i{
    color: white;
    background: #000;
    font-size: 1vw;
    padding: 8px;
    border-radius: 50%;
}

















